body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
 }

 header {
  background-color: #ff0e0e81;
  color: #fff;
  padding: 20px;
  text-align: center;
 }

 h1 {
  margin: 0;
 }

 .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
 }

 .menu-item {
  background-color: #545151be;
  border: 1px solid #fa0000b9;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 .menu-item img {
  max-width: 100%;
  height: auto;
 }

 .div img{
  align-items: left;
 }
